/* apply to all the body*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
}

body h3 {
    text-align: center;
    margin-top: 3.5rem;
}

body h3:after {
    display: block;
    height: 2px;
    background-color: #ac641c;
    width: 100px;
    content: "";
    margin: auto;
    margin-bottom: 3rem;
}


/* navbar*/

#navbarwords {
    margin: auto 20% auto 25%;
    font-size: 20px;

}

/* header ( hero ) imagem/texto*/

#mandala {
    background-image: url(./imagens/heard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

}

.textohello {
    padding-top: 20%;

}

/* competences*/

#compecences {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1500px;
}

.hero-section {
    display: flex;
    align-items: flex-start;
    background-color: black;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

article ul {
    list-style: none;
    font-size: 1.8rem;
    color: white;
    text-align: end;

}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__heading {
    color: var(--text-lighter);
    line-height: 1.4;
    word-spacing: 100vw;
}

/* realizations*/

#carouselmerealize {
    --bs-gutter-x: 0
}

#merealize {
    padding-bottom: 6rem;
}

/* mon cv*/

#moncv {
    background-color: black;
    color: white;
    padding-bottom: 5rem;

}

.backmoncvpic {
    background-image: url(./imagens/mandala2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}

#moncv h3 {
    font-weight: bolder;
}

#moncv p {

    text-align: center;
    padding-top: 4rem;
    font-size: 1.5rem;
    margin: auto 10% 5% 10%;
    font-weight: bold;

}

#moncv a {
    display: flex;
    justify-content: center;
}


/* contactz moi*/

#CONTACTEZ li {
    text-align: center;
    color: black;
    padding-top: 7rem;
    list-style: none;
    font-size: 2rem;
}

#CONTACTEZ {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer*/

#footer {
    background-color: black;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: white;

}

/* responsive*/

/* responsive for the cards in phones*/

@media screen and (min-width: 768px) {

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* responsive for the cards in tablettes*/

@media screen and (min-width: 960px) {

    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* responsive for the phones for all the rest*/

@media screen and (max-width:450px) {

    .textohello {
        padding-top: 90%;
    }

    #compecences h3 {
        margin: 0ch;
    }

    body h3 {
        font-size: 2.5rem;
    }

    #CONTACTEZ {
        display: flex;
        flex-direction: column;

    }

    #CONTACTEZ li {
        padding-top: 3rem;

    }
}

/* responsive for for all the rest in tablettes*/

@media screen and (min-width:450px) and (max-width:768px) {

    .textohello {
        padding-top: 50%;
    }

    .textohello h2 {
        font-weight: bold;
    }

    #compecences h3 {
        margin: 0ch;
    }

    body h3 {
        font-size: 3rem;
    }

    #CONTACTEZ li {
        padding-top: 3rem;

    }

    #CONTACTEZ {
        display: flex;
        flex-direction: column;

    }

    .imgh1{
        width: 20rem;
    }

}